<div class="form-component">
    <div class="container">
        <form #form="ngForm" (ngSubmit)="getQuote(form)">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="title-col clearfix">
                            <h2>-- Origin --</h2>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input ngModel type="text" name="sender_name" placeholder="*required" class="form-control" />

                            <!-- <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                                        <div *ngIf="form.name.errors.required">Name is required</div>
                                    </div> -->
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input ngModel type="text" name="sender_email" placeholder="xyz@abc.com" class="form-control" />
                            <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div> -->
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input ngModel type="text" name="sender_phone" placeholder="0123456789" class="form-control" />
                            <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">phone is required</div>
                                    </div> -->
                        </div>

                        <div class="form-group">
                            <label>Address </label>
                            <input ngModel type="text" name="sender_address" placeholder="*required" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input ngModel type="text" name="sender_locality" placeholder="*required" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Postal code </label>
                            <input ngModel type="number" name="sender_postal_code" placeholder="*required"
                                class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select ngModel name="sender_country_code" class="form-control">
                                <option value="FR">France</option>
                                <option value="VN">Viet Nam</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="title-col clearfix">
                            <h2>-- Destination info --</h2>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input ngModel type="text" name="receiver_name" placeholder="*required" class="form-control">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.receiver_name.errors }"/> -->
                            <!-- <div *ngIf="submitted && f.receiver_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.receiver_name.errors.required">Receiver name is required</div>
                                    </div> -->
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input ngModel type="text" name="receiver_email" placeholder="xyz@abc.com" class="form-control" />

                        </div>

                        <div class="form-group">
                            <label>Phone number</label>
                            <input ngModel type="text" name="receiver_phone" placeholder="0123456789" class="form-control">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.receiver_phone.errors }"/> -->
                            <!-- <div *ngIf="submitted && f.receiver_phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.receiver_phone.errors.required">Receiver Phone required</div>
                                    </div> -->
                        </div>

                        <div class="form-group">
                            <label>Destination address </label>
                            <input ngModel type="text" name="receiver_address" placeholder="*required" class="form-control">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.receiver_address_line1.errors }"/>
                                        <div *ngIf="submitted && f.receiver_address_line1.errors" class="invalid-feedback">
                                            <div *ngIf="f.receiver_address_line1.errors.required">receiver_address_line1 is
                                                required
                                            </div>
                                        </div> -->
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input ngModel type="text" name="receiver_locality" placeholder="*required" class="form-control">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.receiver_locality.errors }"/> -->
                            <!-- <div *ngIf="submitted && f.receiver_locality.errors" class="invalid-feedback">
                                            <div *ngIf="f.receiver_locality.errors.required">receiver_locality is required</div>
                                        </div> -->
                        </div>

                        <div class="form-group">
                            <label>Postal code</label>
                            <input ngModel type="number" name="receiver_postal_code" placeholder="*required"
                                class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select ngModel name="receiver_country_code" class="form-control">
                                <option value="FR">France</option>
                                <option value="VN">Viet Nam</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="title-col clearfix">
                            <h2>-- Package info --</h2>
                        </div>

                        <div class="form-group">
                            <label>Height </label>
                            <input ngModel type="number" name="height" placeholder="In cm" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Width </label>
                            <input ngModel type="number" name="width" placeholder="In cm" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Length </label>
                            <input ngModel type="number" name="length" placeholder="In cm" class="form-control" />
                        </div>

                        <div class="form-group hidden">
                            <label>Dimension unit </label>
                            <select ngModel name="dimension_unit" class="form-control">
                                <option value="cm">Centimeter</option>
                                <option value="m">Meter</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Weight amount</label>
                            <input ngModel type="number" name="weight_amount" placeholder="Please select weight unit also"
                                class="form-control">
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.weight.errors }"/>
                                        <div *ngIf="submitted && f.weight.errors" class="invalid-feedback">
                                            <div *ngIf="f.weight.errors.required">Gross Weight is required</div>
                                        </div> -->
                        </div>

                        <div class="form-group hidden">
                            <label>Weight unit </label>
                            <select ngModel name="weight_unit" class="form-control">
                                <option value="g">Gram</option>
                                <option value="kg">Kilogram</option>
                            </select>
                        </div>

                        <br><br><br>
                        <!-- <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button (click)="getQuote()" type="button" [disabled]="loading" class="btn btn-primary">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        GET QUOTE
                                    </button>
                                </div>
                            </div> -->
                        <div>
                            <button type="submit" class="btn btn-primary">Get Quote</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>